In [1]:
from dotenv import load_dotenv
load_dotenv()

import os
import pandas as pd
from sqlalchemy import create_engine

password = os.environ["MARIA_DB_PASS"]
connection = create_engine(f"mariadb+pymysql://flutter_app:{password}@82.223.54.117:3306/rubik_app_db")
# here we can reuse same connection and "never" close it, in an API you cannot because there can be collisions

from utils import clean_commmutator, commutator_to_sticker_commutator, unravel_commutator_wrt_master

## Read comms Jack Cai

In [2]:
dff = pd.read_excel('./Jack\'s Comms.xlsx', sheet_name='UFR Corners', index_col=0).iloc[:21, :-1]

In [3]:
df = dff.reset_index()

In [4]:
melted = pd.melt(df, id_vars=['index'], var_name='original_column', value_name='value')

melted = melted.rename(columns={'index': 'original_index'})

melted['row_position'] = melted['original_index'].apply(lambda x: dff.index.get_loc(x))
melted['col_position'] = melted['original_column'].apply(lambda x: dff.columns.get_loc(x))

In [5]:
inferior_diagonal = melted[melted['row_position'] >= melted['col_position']]

inferior_diagonal = inferior_diagonal.drop(columns=['row_position', 'col_position'])

inferior_diagonal = inferior_diagonal[inferior_diagonal.value != "-"]

inferior_diagonal = inferior_diagonal.sort_values("original_index")

In [6]:
inferior_diagonal.value = inferior_diagonal.value.apply(lambda v: v[1:-1] if v.count('[') == 2 else v)

In [7]:
inferior_diagonal.value = inferior_diagonal.value.apply(
    lambda v: 
    v if 
    (v.count(']') == v.count('['))
    else 
    v + "]"
)

In [8]:
inferior_diagonal.head()

    original_index original_column                    value
204            BDL             FLD   D' R D': [R' U' R, D2]
183            BDL             FDR         U: [R U' R', D2]
309            BDL             BLU  U' R' U': [R D' R', U']
246            BDL             RDB       UD': [R U' R', D']
225            BDL             RBU  U' R' U’: [R D' R', U2]

## Compute inverses

In [9]:
df = inferior_diagonal.rename(columns={"original_index": "first_sticker", "original_column": "second_sticker", "value": "commutator_simplified"}).copy()

In [10]:
df.first_sticker.value_counts().head()

first_sticker
DLB    18
DBR    17
DRF    16
BRD    15
DFL    15
Name: count, dtype: int64

In [11]:
from objects import invert_conjugation_plus_commutator

Original Commutator: [R U R', D]
Inverted Commutator: [D, R U R']


Original Algorithm: U' R': [R' D R, U']
Inverted Algorithm: U' R': [U', R' D R]

In [12]:
inverted_rows = []
for _, row in df.iterrows():
    new_row = {
        "first_sticker": row["second_sticker"],
        "second_sticker": row["first_sticker"],
        "commutator_simplified": invert_conjugation_plus_commutator(row["commutator_simplified"])
    }
    inverted_rows.append(new_row)

In [13]:
df = pd.concat([df, pd.DataFrame(inverted_rows)]).sort_values("first_sticker")

In [14]:
df.shape

(378, 3)

## Build full and simplified form

In [15]:
from objects import Commutator

In [16]:
df.commutator_simplified = df.commutator_simplified.apply(lambda c: Commutator(c).simplified_form)

In [17]:
df["commutator_full"] = df.commutator_simplified.apply(lambda c: Commutator(c).full_form)

In [18]:
df.rename(columns={"commutator_full": "commutator"}, inplace=True)

In [19]:
df["buffer_sticker"] = "UFR"

In [20]:
df = df[["buffer_sticker", "first_sticker", "second_sticker", "commutator", "commutator_simplified"]]

In [75]:
rotate_stickers = {
    "FLD": "FDL",
    "DRF": "DFR",
    "BRD": "BDR",
    "LFU": "LUF",
    "ULF": "UFL",
    "RFD": "RDF",
    "RBU": "RUB",
    "BLU": "BUL",
    "URB": "UBR",
    "DLB": "DBL",
    "LBD": "LDB"
}

In [76]:
for old, new in rotate_stickers.items():
    df.first_sticker = df.first_sticker.str.replace(old, new)
    df.second_sticker = df.second_sticker.str.replace(old, new)

In [77]:
df.sample(5)

,buffer_sticker,first_sticker,second_sticker,commutator,commutator_simplified
139,UFR,BUR,LDB,U' L U R U' L' U R',"[U' L U, R]"
20,UFR,DBL,UBL,D R D' R2 D R U2 R' D' R U2 R D R' D',"D R D' R': [R' D R, U2]"
80,UFR,DFL,LUB,R2 D2 R' U R D2 R' U' R',"R: [R D2 R', U]"
145,UFR,DBR,LDB,R D' R2 D R U R' D' R U' R D R',"R D' R’: [R’ D R, U]"
182,UFR,BUL,FDR,R U' L' U R U' L U R2,"R: [U' L' U, R]"

In [78]:
df.shape

(378, 5)

## Dump to ddbb

In [79]:
df.to_sql('corners_commutators', con=connection, if_exists='replace', index=False)

378