In [108]:
from dotenv import load_dotenv
load_dotenv()

import os
import pandas as pd
from sqlalchemy import create_engine

password = os.environ["MARIA_DB_PASS"]
connection = create_engine(f"mariadb+pymysql://flutter_app:{password}@82.223.54.117:3306/rubik_app_db")
# here we can reuse same connection and "never" close it, in an API you cannot because there can be collisions

from utils import clean_commmutator, commutator_to_sticker_commutator, unravel_commutator_wrt_master

## Read comms csvs guille

In [109]:
comms_guille = pd.read_excel("./edges_commutators_tratados.xlsx").drop_duplicates(["first_letter", "second_letter"])
comms_guille = comms_guille[["first_letter", "second_letter", "commutator"]].copy()
comms_guille.sample(5)

    first_letter second_letter                        commutator
476            L             P       xR' (Can M. KÑ. Can M')R x'
23             B             L  x M2' (Ins L.) M2' (Unins L.) x'
576            B             Y                        U (CY.) U'
195            L             H                   R2 L' (KÑ.) LR2
18             F             B       (Ins F.) M2' (Unins F.) M2'

## Clean comms

In [110]:
comms_guille["clean_commutator"] = comms_guille.commutator.apply(clean_commmutator)
comms_guille.sample(5)

,first_letter,second_letter,commutator,clean_commutator
174,X,H,L2 (ÑP.) L2,L2 (ÑP) L2
154,Q,L,R (KQ.) R',R (KQ) R'
14,Q,K,RUM'U'R'UMU',RUM'U'R'UMU'
567,N,Z,xOLL (Can. H. Left) x' M,xOLL (Can. H. Left) x' M
536,Y,W,R' (YK. Can M2 R'.) M2',R' (YK. Can M2 R'.) M2'

## Sticker comms

edges o corners

In [111]:
do_edges = True

if do_edges:
    letters_guille = pd.read_sql("SELECT sticker, letter FROM edges_stickers WHERE user_name='flygorithm'", connection).set_index("letter").sticker
else:
    letters_guille = pd.read_sql("SELECT sticker, letter FROM corners_stickers WHERE user_name='flygorithm'", connection).set_index("letter").sticker

In [112]:
comms_guille["commutator_stickers"] = comms_guille.clean_commutator.apply(commutator_to_sticker_commutator, letter2sticker=letters_guille)
comms_guille["first_sticker"] = comms_guille.first_letter.apply(lambda l: letters_guille.get(l, ""))
comms_guille["second_sticker"] = comms_guille.second_letter.apply(lambda l: letters_guille.get(l, ""))

In [123]:
comms_guille = comms_guille[["first_sticker", "second_sticker", "commutator_stickers"]].set_index(["first_sticker", "second_sticker"])

In [129]:
comms_guille.sample(5)

                             commutator_stickers
first_sticker second_sticker
UL            UF                 U'MU2MU M'U2 M'
BD            BR
LB            BD                   .DL'D'MDLD'M'
UR            FL                    L' {UR,UL} L
FR            FL                 RL' {UR,UL} LR'

In [131]:
comms_guille.shape

(436, 1)

In [132]:
comms_guille = comms_guille[comms_guille.commutator_stickers.apply(lambda c: c.strip()) != ""]

In [133]:
comms_guille.shape

(341, 1)

In [137]:
comms_guille["commutator_full"] = comms_guille.commutator_stickers.apply(unravel_commutator_wrt_master, all_comms=comms_guille)

/home/sheriff/Documents/coding/rubik_flask_backend/utils.py:111: PerformanceWarning: indexing past lexsort depth may impact performance.
  unraveled = all_comms.loc[first_sticker, second_sticker].iloc[0].iloc[0]

In [138]:
comms_guille = comms_guille[comms_guille.commutator_full.apply(lambda c: c.strip()) != ""]

In [139]:
comms_guille.shape

(292, 2)

In [140]:
comms_guille.sample(5)

                             commutator_stickers          commutator_full
first_sticker second_sticker
BU            DB                   UMU'M'U2M'UMU            UMU'M'U2M'UMU
LF            BR              z' U2 {FU,RF} U2 z  z' U2 M'U'RUMU'R'U U2 z
UF            BL                 U' L {UR,UL} LU        U' L U'M'U2MU' LU
DL            BL                L2UM2U'L'UM2U'L'         L2UM2U'L'UM2U'L'
LU            DB                   U2MU'M'U2M'UM            U2MU'M'U2M'UM

In [141]:
from objects import Commutator

In [142]:
comms_guille.commutator_full = comms_guille.commutator_full.apply(lambda c: Commutator(c).full_form)

/tmp/ipykernel_50003/3372340861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comms_guille.commutator_full = comms_guille.commutator_full.apply(lambda c: Commutator(c).full_form)

In [143]:
comms_guille["commutator_simplified"] = comms_guille.commutator_full.apply(lambda c: Commutator(c).simplified_form)
comms_guille.commutator_simplified = comms_guille.commutator_simplified.apply(lambda c: c if "+" not in c else "")
comms_guille.commutator_simplified = comms_guille.commutator_simplified.apply(lambda c: c if "Not" not in c else "")

/tmp/ipykernel_50003/243931695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comms_guille["commutator_simplified"] = comms_guille.commutator_full.apply(lambda c: Commutator(c).simplified_form)
/tmp/ipykernel_50003/243931695.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comms_guille.commutator_simplified = comms_guille.commutator_simplified.apply(lambda c: c if "+" not in c else "")
/tmp/ipykernel_50003/243931695.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comms_guille.commutator_simplified = comms_guille.commutator_simplified.apply(lambda c: c if "Not" not in c else "")

In [144]:
comms_guille.rename(columns={"commutator_full": "commutator"}, inplace=True)

/tmp/ipykernel_50003/2107203226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comms_guille.rename(columns={"commutator_full": "commutator"}, inplace=True)

In [145]:
comms_guille["buffer_sticker"] = "DF"

/tmp/ipykernel_50003/3771048906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comms_guille["buffer_sticker"] = "DF"

In [146]:
comms_guille = comms_guille.reset_index()[["buffer_sticker", "first_sticker", "second_sticker", "commutator", "commutator_simplified"]]

In [158]:
comms_guille.sample(5)

,buffer_sticker,first_sticker,second_sticker,commutator,commutator_simplified
125,DF,LB,FL,z M U L' U' M' U L U' z Z',
195,DF,LB,LU,L U' M' U L' U' M U,"[L, U' M' U]"
267,DF,UB,DB,u2 M u2 M,
252,DF,BD,LU,x M2 U L U' M' U L' U' M' ',
111,DF,LF,BL,z M' U' L' U M U' L U Z,

In [159]:
comms_guille.shape

(292, 5)

In [160]:
comms_guille = comms_guille[comms_guille.first_sticker != ""].copy()
comms_guille = comms_guille[comms_guille.second_sticker != ""].copy()

In [161]:
comms_guille.shape

(285, 5)

## Dump to ddbb

In [162]:
comms_guille.to_sql('edges_commutators', con=connection, if_exists='replace', index=False)

285

## Letter pairs dump

In [5]:
df = pd.read_csv("/home/sheriff/Downloads/lingot_pairs_export_extended.csv")

In [6]:
df["user_name"] = "sheriff"

In [7]:
df.head()

  first_letter second_letter    word user_name
0           Br            Br  bribri   sheriff
1           Br            Sh   brush   sheriff
2           Br            Ch  brocha   sheriff
3           Br            Ko  brecol   sheriff
4           Br            Ka  Blanca   sheriff

In [9]:
df.to_sql('letter_pairs', con=connection, if_exists='append', index=False)

419