In [1]:
from dotenv import load_dotenv
load_dotenv()

import os
import pandas as pd

## DB Connection

Here we can reuse same connection and "never" close it, in an API you cannot because there can be collisions

### with sqlalchemy

needed for using pd.to_sql, where pymysql did not work...

In [2]:
from sqlalchemy import create_engine

In [3]:
password = os.environ["MARIA_DB_PASS"]
connection = create_engine(f"mariadb+pymysql://flutter_app:{password}@82.223.54.117:3306/rubik_app_db")

In [4]:
pd.read_sql("SELECT * FROM users", connection).head()

   id   user_name          created_at password
0   1     sheriff 2024-11-17 17:00:45     None
1   2  flygorithm 2024-11-17 17:00:45     None

## Read comms csvs guille

In [5]:
comms_guille = pd.read_excel("/home/sheriff/Downloads/commutators_table.xlsx")

In [6]:
comms_guille.columns = ["first_letter", "second_letter", "commutator"]

In [7]:
comms_guille.head()

  first_letter second_letter            commutator
0            C             T        PLL Corners B.
1            C             S            F' (ZW.) F
2            C             N            F (BN.) F'
3            C             B  U2 R' D' R U2 R' D R
4            C             V  L' D L U2 L' D' L U2

## Clean comms

Quitar la palabra 'Can', quitar puntos, etc

In [8]:
import re

In [9]:
def remove_cancellations(commutator: str) -> str:
    """
    Turns 
        (Can U. RB.) U      into
        U' (RB.) U
    """
    commutator = re.sub(r'\(Can (\w)\.\s*', r"\1' (", commutator)
    commutator = re.sub(r'\(Can (\w)\'\.\s*', r"\1 (", commutator)
    commutator = re.sub(r'\(BR\. Can (\w)\'\.\)', r"(BR.) \1", commutator)    
    commutator = re.sub(r'\(BR\. Can (\w)\.\)', r"(BR.) \1'", commutator)
    
    return commutator

In [10]:
def remove_periods(commutator):
    """
    Turns 
        U' (RB.) U.   into
        U' (RB) U
    """
    commutator = commutator.strip()
    
    if commutator[-1] == ".":
        commutator = commutator[:-1].strip()
        
    commutator = re.sub(r'\((\w{2})\.\)', r'(\1)', commutator)

    return commutator

In [11]:
fns = [lambda x: x, remove_cancellations, remove_periods]

In [12]:
def clean_commmutator(commutator, verbose=False):
    for f in fns:
        commutator = f(commutator)
        
        if verbose:
            print(commutator)

    return commutator

In [13]:
print(clean_commmutator("(Can U. RB.) U."))

U' (RB) U

In [14]:
comms_guille["clean_commutator"] = comms_guille.commutator.apply(clean_commmutator)

In [15]:
comms_guille.head()

  first_letter second_letter            commutator      clean_commutator
0            C             T        PLL Corners B.         PLL Corners B
1            C             S            F' (ZW.) F             F' (ZW) F
2            C             N            F (BN.) F'             F (BN) F'
3            C             B  U2 R' D' R U2 R' D R  U2 R' D' R U2 R' D R
4            C             V  L' D L U2 L' D' L U2  L' D L U2 L' D' L U2

## Sticker comms

Una u otra

### Edges

De las letras de Guille a sticker: B -> UB

Necesitan previa limpia

In [16]:
letters_guille = pd.read_sql("SELECT sticker, letter FROM edges_stickers WHERE user_name='flygorithm'", connection).set_index("letter").sticker

In [17]:
letters_guille.head()

letter
C    UR
N    UL
S    UF
B    UB
K    RU
Name: sticker, dtype: object

In [18]:
def commutator_to_sticker_commutator(commutator):
    """
    Turns 
        U' (RB) U         into
        U' {FR,UB} U	
    """
    if "(" not in commutator:
        return commutator

    pre, rest = commutator.split("(")
    inside, post = rest.split(")")
    first_letter, second_letter = inside

    first_sticker = letters_guille[first_letter]
    second_sticker = letters_guille[second_letter]

    return f"{pre}{{{first_sticker},{second_sticker}}}{post}"

In [19]:
print(commutator_to_sticker_commutator("U' (RB) U"))

U' {FR,UB} U

In [20]:
print(commutator_to_sticker_commutator("U' (RB) U"))

U' {FR,UB} U

In [21]:
comms_guille["commutator_stickers"] = comms_guille.clean_commutator.apply(commutator_to_sticker_commutator)

In [51]:
comms_guille.head()

  first_letter second_letter            commutator      clean_commutator
0            C             T        PLL Corners B.         PLL Corners B
1            C             S            F' (ZW.) F             F' (ZW) F
2            C             N            F (BN.) F'             F (BN) F'
3            C             B  U2 R' D' R U2 R' D R  U2 R' D' R U2 R' D R
4            C             V  L' D L U2 L' D' L U2  L' D L U2 L' D' L U2

In [23]:
comms_guille["first_sticker"] = comms_guille.first_letter.apply(lambda l: letters_guille[l])

In [24]:
comms_guille["second_sticker"] = comms_guille.second_letter.apply(lambda l: letters_guille[l])

In [52]:
comms_guille.head()

  first_letter second_letter            commutator      clean_commutator
0            C             T        PLL Corners B.         PLL Corners B
1            C             S            F' (ZW.) F             F' (ZW) F
2            C             N            F (BN.) F'             F (BN) F'
3            C             B  U2 R' D' R U2 R' D R  U2 R' D' R U2 R' D R
4            C             V  L' D L U2 L' D' L U2  L' D L U2 L' D' L U2

Ahora ya se pueden dumpear a DDBB

### Corners

De las letras de Guille a sticker: B -> UBR

Necesitan previa limpia

In [16]:
letters_guille = pd.read_sql("SELECT sticker, letter FROM corners_stickers WHERE user_name='flygorithm'", connection).set_index("letter").sticker

In [17]:
letters_guille.head()

letter
     UBL
T    UBR
S    UFL
C    UFR
Y    DBL
Name: sticker, dtype: object

In [18]:
def commutator_to_sticker_commutator(commutator):
    """
    Turns 
        U' (RB) U         into
        U' {FR,UB} U	
    """
    if "(" not in commutator:
        return commutator

    pre, rest = commutator.split("(")
    inside, post = rest.split(")")
    first_letter, second_letter = inside

    first_sticker = letters_guille[first_letter]
    second_sticker = letters_guille[second_letter]

    return f"{pre}{{{first_sticker},{second_sticker}}}{post}"

In [19]:
print(commutator_to_sticker_commutator("U' (RB) U"))

U' {FUR,RDF} U

In [20]:
print(commutator_to_sticker_commutator("U' (RB) U"))

U' {FUR,RDF} U

In [21]:
comms_guille["commutator_stickers"] = comms_guille.clean_commutator.apply(commutator_to_sticker_commutator)

In [22]:
comms_guille.head()

,first_letter,second_letter,commutator,clean_commutator,commutator_stickers
0,C,T,PLL Corners B.,PLL Corners B,PLL Corners B
1,C,S,F' (ZW.) F,F' (ZW) F,"F' {LUF,LDF} F"
2,C,N,F (BN.) F',F (BN) F',"F {RDF,RUB} F'"
3,C,B,U2 R' D' R U2 R' D R,U2 R' D' R U2 R' D R,U2 R' D' R U2 R' D R
4,C,V,L' D L U2 L' D' L U2,L' D L U2 L' D' L U2,L' D L U2 L' D' L U2

In [23]:
comms_guille["first_sticker"] = comms_guille.first_letter.apply(lambda l: letters_guille[l])

In [24]:
comms_guille["second_sticker"] = comms_guille.second_letter.apply(lambda l: letters_guille[l])

In [25]:
comms_guille.head()

,first_letter,second_letter,commutator,clean_commutator,commutator_stickers,first_sticker,second_sticker
0,C,T,PLL Corners B.,PLL Corners B,PLL Corners B,UFR,UBR
1,C,S,F' (ZW.) F,F' (ZW) F,"F' {LUF,LDF} F",UFR,UFL
2,C,N,F (BN.) F',F (BN) F',"F {RDF,RUB} F'",UFR,RUB
3,C,B,U2 R' D' R U2 R' D R,U2 R' D' R U2 R' D R,U2 R' D' R U2 R' D R,UFR,RDF
4,C,V,L' D L U2 L' D' L U2,L' D L U2 L' D' L U2,L' D L U2 L' D' L U2,UFR,RDB

Ahora ya se pueden dumpear a DDBB

In [26]:
df_dump = comms_guille[["first_sticker", "second_sticker", "commutator_stickers"]].copy()

In [27]:
df_dump.columns = ["first_sticker", "second_sticker", "commutator"]

In [28]:
df_dump["buffer_sticker"] = "ULB"

In [29]:
df_dump.head()

  first_sticker second_sticker            commutator buffer_sticker
0           UFR            UBR         PLL Corners B            ULB
1           UFR            UFL        F' {LUF,LDF} F            ULB
2           UFR            RUB        F {RDF,RUB} F'            ULB
3           UFR            RDF  U2 R' D' R U2 R' D R            ULB
4           UFR            RDB  L' D L U2 L' D' L U2            ULB

In [31]:
df_dump.to_sql('corners_commutators', con=connection, if_exists='append', index=False)

18

## Letter pairs dump

In [5]:
df = pd.read_csv("/home/sheriff/Downloads/lingot_pairs_export_extended.csv")

In [6]:
df["user_name"] = "sheriff"

In [7]:
df.head()

  first_letter second_letter    word user_name
0           Br            Br  bribri   sheriff
1           Br            Sh   brush   sheriff
2           Br            Ch  brocha   sheriff
3           Br            Ko  brecol   sheriff
4           Br            Ka  Blanca   sheriff

In [9]:
df.to_sql('letter_pairs', con=connection, if_exists='append', index=False)

419